[Unit]
Description=Chia Poolboys
After=network-online.target mosquitto.service

[Service]
Type=simple
ExecStart=PATH/venv/bin/python3 PATH/main.py

[Install]
WantedBy=multi-user.target
